          <ul class="list-group">
            <a href="{% url 'cst' %}">
            <li class="list-group-item rounded-top-0">
              <p class="mg-b-0"><strong class="tx-inverse tx-medium">College of Science and Technology</p>
            </li>
            </a>
            <a href="{% url 'cbe' %}">
            <li class="list-group-item">
              <p class="mg-b-0"><strong class="tx-inverse tx-medium">College of Business and Economics</p>
            </li>
            </a>
            <a href="{% url 'ce' %}">
            <li class="list-group-item rounded-top-0">
              <p class="mg-b-0"><strong class="tx-inverse tx-medium">College of Education</p>
            </li>
            </a>
            <a href="{% url 'cmhs' %}">
            <li class="list-group-item">
              <p class="mg-b-0"><strong class="tx-inverse tx-medium">College of Medecine and Health</p>
            </li>
            </a>
            <a href="{% url 'cass' %}">
            <li class="list-group-item rounded-top-0">
              <p class="mg-b-0"><strong class="tx-inverse tx-medium">College of Art and Social Sciences</p>
            </li>
            </a>
            <a href="{% url 'cavm' %}">
            <li class="list-group-item">
              <p class="mg-b-0"><strong class="tx-inverse tx-medium">College of Agriculture and Veterinary</p>
            </li>
            </a>
          </ul>